{% extends 'todo/base.html' %}
{% block title %}ToDo - A perfect Task Board{% endblock %}
{% block body %}
    <div class="container-fluid p-5">
        <div class="card-columns">
            {% for task in tasks %}
                <div class="card mb-3">
                    <div class="card-header">
                        <span class="task-title">{{ task.title }}</span>
                        {% if task.status is True %}
                            <span class="badge badge-success ml-4">Completed</span>
                        {% else %}
                            <span class="badge badge-warning ml-4">Pending</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ task.description|linebreaks}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="card-link" href="{% url 'todo:EditTask' task.id %}">Edit</a>
                        <a class="card-link" href="{% url 'todo:DeleteTask' task.id %}">-Delete</a>
                        {% if task.status is False %}
                            <a class="card-link mc" href="{% url 'todo:MarkComplete' task.id %}">Mark as complete</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}